= headshot_default_config(Rails.application.config.session_options[:key],
  headshot_capture_path, on_complete: 'onCompleteHeadshot')
= headshot_camera

%br
%br

= headshot_snap_button('Shoooooooot me')
