%video#webcam_preview.hidden{ autoplay: true }
%img#img_snapshot.hidden{ src: ''}
.container
  #img#advertisement.center

%h1
  Emotion:
%h2
  VALUE


:javascript
  var app_key = 'f9fdc87edada426e8f4ce4708adaa37e';
  var client_id   = 'd99474c81ab443c68e1c55bf027b8239';

  function success( result ) {
    var emotions = result.persons[0]['expressions'];
    var max_value = -1;
    var max_emotion = "";

    $.each(emotions, function(emotion, value) {
      if (value.value > max_value) {
        max_value = value.value;
        max_emotion = emotion;
      }
    });
  }

  function failure( error ) {
    alert( error );
  }

  function sendDetectRequest() {
    var img = document.querySelector( "#img_snapshot" );
    if( img.naturalWidth == 0 ||  img.naturalHeight == 0 ) // Check if a snapshot has been taken
      return;
    var imgBlob = FACE.util.dataURItoBlob( img.src );
    FACE.sendImage( imgBlob, success, failure, app_key, client_id, 'expressions' );
  }

  function startCapture() {
    FACE.webcam.startPlaying( "webcam_preview" );
    setInterval( function()
    {
      FACE.webcam.takePicture( "webcam_preview", "img_snapshot" );
      sendDetectRequest();
    },
    3000 );
  }

  // Trigger the start
  $( document ).ready( function() {
    if( client_id =='' ) {
      alert( 'Please specify your keys in the source' );
    } else {
      startCapture();
    }
  });
