= headshot_default_config(Rails.application.config.session_options[:key],
  headshot_capture_path, on_complete: 'onCompleteHeadshot')
= headshot_camera

%br
%br

= headshot_snap_button('Shoooooooot me')

:javascript
  function onCompleteHeadshot(response) {
    var parsed_reponse = JSON.parse(response);
    var url = 'https://api.sightcorp.com/api/detect/';
    var type = 'POST';
    var image_url = parsed_reponse.url;

    var xhr = new XMLHttpRequest();
    xhr.open("GET", image_url);
    xhr.responseType = "blob";

    xhr.onload = function response(e) {
      var formData = new FormData();
      formData.append('app_key', 'f9fdc87edada426e8f4ce4708adaa37e');
      formData.append('client_id', 'd99474c81ab443c68e1c55bf027b8239');
      formData.append('attribute', 'expressions');
      formData.append('img', this.response);

      $.ajax({
        url: url,
        type: type,
        data: formData,
        contentType: false,
        processData: false,
        success: processEmotion,
      });
    };

    xhr.send();
  };

  function processEmotion(response) {
    var emotions = response.persons[0]['expressions'];
    var max_value = -1;
    var max_emotion = "";
    $.each(emotions, function(emotion, value) {
      if (value.value > max_value) {
        max_value = value.value;
        max_emotion = emotion;
      }
    });

    console.log(max_emotion);
    console.log(max_value);
  };
