%section#services
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading How are you feeling?
        %hr.primary
  .container
    .row
      .col-lg-3.col-md-6.text-center
        .service-box
          %i.fa.fa-4x.text-primary.sr-icons
            = image_tag "emoticons/happy.png"
          %h3 Happy
          %p.text-muted It is not how much we have, but how much we enjoy, that makes happiness.
      .col-lg-3.col-md-6.text-center
        .service-box
          %i.fa.fa-4x.text-primary.sr-icons
            = image_tag "emoticons/angry.png"
          %h3 Angry
          %p.text-muted We boil at different degrees.
      .col-lg-3.col-md-6.text-center
        .service-box
          %i.fa.fa-4x.text-primary.sr-icons
            = image_tag "emoticons/sad.png"
          %h3 Sad
          %p.text-muted The funniest people are the saddest ones.
      .col-lg-3.col-md-6.text-center
        .service-box
          %i.fa.fa-4x.text-primary.sr-icons
            = image_tag "emoticons/neutral.png"
          %h3 Neutral
          %p.text-muted The hottest place in Hell is reserved for those who remain neutral in times of great moral conflict.
