%section#about.bg-primary
  .container
    .row
      .col-lg-8.col-lg-offset-2.text-center
        %h2.section-heading What is Pulse Music ?
        %hr.light/
        %p.text-faded
          Pulse music is not just a music stream service.
          Pulse music is the future of Music. It integrates your feelings and generate your personal playlist based on your current mood.
          %br
          %br
          Forget about depressions and bad mood, You've just discovered what music really is!
        %a.page-scroll.btn.btn-default.btn-xl.sr-button{:href => "#services"} Get Started!
