%nav#mainNav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        Menu
        %i.fa.fa-bars
      %a.navbar-brand.page-scroll{:href => "#page-top"} Pulse Music
      = image_tag "logo.gif", class: 'navbar-brand page-scroll'
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          %a.page-scroll{:href => "#about"} About
        %li
          %a.page-scroll{:href => "#services"} Feelings
        %li
          %a.page-scroll{:href => "#photodiv"} Take Photo
        %li
          %a.page-scroll{:href => "#portfolio"} Portfolio

%header
  .header-content
    .header-content-inner
      %h1#homeHeading Pulse Music
      %hr
      %p{ style: "color:black;" } Change your feelings through the music...
      %br
      %br
    %a.btn.btn-primary.btn-xl.page-scroll{:href => "#about"} Find Out More
